body {
    background-image:url('/Users/maodayuja/batch14fe/batch14-fe-activities/img/mainbg.png');
    background-size: cover;
    background-attachment: fixed;
}

.frontpage {
border: 0px transparent;
height: 500px
}

/* title */
.title h1 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border: 2px gray solid;
    border-radius: 15px;
    max-width: 400px;
    margin: auto;
    margin-top: 300px;
}
/* end of title */

/* description */
.description {
    font-size: medium;
    letter-spacing: 0.1em;
    color: black;
    text-align: center;
}
/* end of description */

/* social-media sites */
.social-media {
    text-align: center;
    color: aliceblue;
    word-spacing: 1em;
}

.social-media :hover {
    color:dimgray;
}
/* end social-media sites */

/* project header */
.project-header {
    background-color: black;
    color: goldenrod;
    text-align: center;
}
/* end of project header */

/* projects*/
.projects {
    display: flex;
  flex-wrap: wrap;
  margin-right: 20%;
  margin-left: 20%;
}
/* end of projects*/

/* project image*/
.project-image {
    max-width: 100%;
    height: auto;
}
/* end of project image*/

/* project description*/
.project-description {
    background-color: black;
    border: 2px black solid;
    width: 100%;
    height: auto;
    text-align: center;
}
/* end of project description*/

/* project title*/
.project-title {
    color: goldenrod;
}
/* project title*/

