@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
}

body {
    background:  linear-gradient(to top, rgb(61,12,2) 30%, transparent), url('../img/coffee-beans.png');
    background-attachment:fixed;
    background-size: cover;
}
/* nav bar */
header {
    background-color: rgb(184,134,11);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

header .logo {
    position: relative;
    max-width: 100%;
}

#header-img {
    width: 9.375rem;
    height: 4.688rem;
}

.toggle-button {
    margin-top: 1rem;
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.navbar ul {
    display: flex;
}

.navbar li {
    list-style: none;
}

.nav-link {
    display: inline-block;
    color: whitesmoke;
    font-weight: 400;
    margin: 2.5rem;
    text-decoration: none;
}
/* nav bar */

/* Front-page */
.front-page-bg {
    padding: 10rem 5rem;
}


.front-page {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    color: white;
    text-align: center;
}

.tagline {
    border: .5rem white solid;
    border-radius: 0 3rem 0 3rem;
    padding: 1rem 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
}

.front-product-image {
    text-align: center;
    padding: 5rem 0;
}
/* Front-page */

/* video */
.media-bg {
    padding: 0 35%;
    display: flex;
    text-align: center;
}

.media {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#media-title {
    padding: 2rem 1rem;
    color: aliceblue;
    border: 0 brown solid;
    border-radius: 0 3rem 0 3rem;
    background-color: brown;
    font-size: 100%;
    width: 100%;
    height: 100%;
    text-align: center;
}

#video {
    margin-top: 5rem;
}
/* video */

/* product header */
.product-header-bg {
    margin-top: 10rem;
    color: #eee;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}
/* product header */

/* products */

.product-card-bg {
    background-color: burlywood;
}
.products {
    padding: 2.5rem;  
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.product-card {
    background-color: aliceblue;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 2rem;
    padding: 15px; 
    border: 1px solid #eee;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.06) 4px 2px 4px;
    transition: all .3s ease-in-out;
    width: 18rem;
    height: 25rem;
    overflow: hidden;
}

.buy-now{
    margin-top: 1rem;
    padding: 0.1rem;
    border: 0;
    border-radius: 1rem;
    background-color: rgb(172,229,238);
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
  }

.one {
    border-radius: 0 3rem 0 3rem;
    background-color: brown;
}

.two {
    border-radius: 0 3rem 0 3rem;
    background-color: rgb(30,144,255);
}

.three {
    border-radius: 0 3rem 0 3rem;
    background-color: rgb(100,140,17);
}

.gold {
    border-radius: 0 3rem 0 3rem;
    background-color: rgb(184,134,11);
}
.product-card {
    background-color: aliceblue;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 2rem;
    padding: 15px; 
    border: 1px solid #eee;
    border-radius: 1rem;
    width: 18rem;
    height: 25rem;
    overflow:hidden;
}
/* products */

/* form */

.form-section {
    margin-left: 25%;
    display: flex;
    flex-wrap: wrap;
    color: aliceblue;
    margin-top: 3rem;
}

#form {
    padding: 3rem;
    background-color: rgb(61,12,2);
    border: 0;
    width: 30rem;
    height: 15rem;
}

.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=email]:focus {
    border: 3px solid #555555;
}

.social-media {
    padding: 2rem;
    background-color: black;
    border: 0;
    width: 30rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    
    text-align: center;
    line-height: 2rem;
    color: #555555;
}

.icons {
    display: flex;
    justify-content: center;
    line-height: 5rem;
    letter-spacing: 1rem;
}

.fab {
    color: brown;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif; 
}

body {
    background:  linear-gradient(to top, rgb(61,12,2) 30%, transparent), url('../img/coffee-beans.png');
    background-attachment:fixed;
    background-size: cover;
}

/* Nav bar */
#header {
        flex-direction: column;
        align-items: flex-start;
    }

.toggle-button {
        display: flex;
    }

.navbar {
        display: none;
        width: 100%;
    }

.navbar ul {
        width: 100%;
        flex-direction: column;
    }

.navbar ul li {
        text-align: center;
    }

.navbar ul li a {
        padding: .5rem 1rem;
    }

.navbar.active {
        display: flex;
    }
/* Nav bar */

/* Front-page */
.front-page-bg {
    padding: 5rem 0;
    width: fit-content;
}


.front-page {
    display: flex;
    flex-flow: column-reverse wrap;
    color: white;
    text-align: center;
}

.tagline {
    border: .5rem white solid;
    border-radius: 0 3rem 0 3rem;
    padding: 1rem 5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.637);
}

.front-product-image {
    text-align: center;
    padding: 5rem 0;
}
/* Front-page */

/* video */
.media-bg {
    padding: 0 5rem;
    display: flex;
    text-align: center;
}

.media {
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

#media-title {
    padding: 2rem 1rem;
    color: aliceblue;
    border: 0 brown solid;
    border-radius: 0 3rem 0 3rem;
    background-color: brown;
    font-size: 100%;
    width: 50%;
    height: 100%;
    text-align: center;
}

#video {
    margin-top: 5rem;
}
/* video */

/* product header */
.product-header-bg {
    margin-top: 10rem;
    background-color: rgb(61,12,2);
    color: #eee;
    padding: 1rem;
    font-size: 2rem;
    text-align: center;
}
/* product header */

/* products */

.product-card-bg {
    margin: 0 50%;
}

.products {
    padding: 2.5rem;  
    display: flex;
    flex-flow: column wrap;
}

.one {
    border-radius: 0 3rem 0 3rem;
    background-color: brown;
}

.two {
    border-radius: 0 3rem 0 3rem;
    background-color: rgb(30,144,255);
}

.three {
    border-radius: 0 3rem 0 3rem;
    background-color: rgb(100,140,17);
}

.gold {
    border-radius: 0 3rem 0 3rem;
    background-color: rgb(184,134,11);
}
.product-card {
    background-color: aliceblue;
    text-align: center;
    line-height: 1.5rem;
    margin-top: 2rem;
    padding: 15px; 
    border: 1px solid #eee;
    border-radius: 1rem;
    width: 18rem;
    height: 25rem;
    overflow:hidden;
}
/* products */

/* form */

.form-section {
    margin-left: 30%;
    display: flex;
    flex-flow: column wrap;
    color: aliceblue;
    margin-top: 3rem;
}

#form {
    padding: 3rem;
    background-color: rgb(61,12,2);
    border: 0;
    width: 30rem;
    height: 15rem;
}

.button {
    background-color: brown;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
  
input[type=email]:focus {
    border: 3px solid #555555;
}

.social-media {
    padding: 2rem;
    background-color: black;
    border: 0;
    width: 30rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 2rem;
    color: #555555;
}

.icons {
    display: flex;
    justify-content: center;
    line-height: 5rem;
    letter-spacing: 1rem;
}

.fab {
    color: brown;
    font-size: 2rem;
}
/* form */
 
}

