*, *:before, *:after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: whitesmoke;
    background-image: url('../tic-tac-toe/img/Nightfrontyard.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.square {
    height: 6.25rem;
    width: 6.25rem;
    border: 5px solid lightgreen;
    transition: 0.2s ease-out;
    cursor: pointer;
    font-size: 5rem;
}

.square:nth-child(1),
.square:nth-child(2),
.square:nth-child(3) {
    border-top: none;
}

.square:nth-child(1),
.square:nth-child(4),
.square:nth-child(7) {
    border-left: none;
}

.square:nth-child(3),
.square:nth-child(6),
.square:nth-child(9) {
    border-right: none;
}

.square:nth-child(7),
.square:nth-child(8),
.square:nth-child(9) {
    border-bottom: none;
}

.title {
    margin: 0 auto;
    letter-spacing: 0.5rem;
    font-size: 5rem;
    text-shadow: 0 0.5rem 0.5rem black;
    color: greenyellow;
}

.turnIndicator {
    font-size: 2rem;
    text-shadow: 0 0.5rem 0.5rem black;
    color: greenyellow;
}

button {
    margin: 0 0.5rem;
    background-color: green;
    color: whitesmoke;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem darkgrey;
    transition: 0.2s ease-out;
}

button:hover {
    box-shadow: 0 0.5rem 0.5rem  greenyellow;
}