body {
    background-image: url("img/sqd.jpg");
}

/*result*/
.result {
    margin-left: 30%;
    color:pink;
    background-color:black;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-clip: content-box;
    border: 5px solid  #fa4454;
}
/*end of result*/