@import url('http://fonts.cdnfonts.com/css/d-puntillas-a-lace');
body {
    background-image: url("img/image.png"), url("img/black.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    color: pink;
    font-family:sans-serif;
    font-family: 'd puntillas A Lace', sans-serif;
}
/*title*/
.titlename {
    text-align: center;
    font-size: larger;
}
/*end of title*/

/*form container*/
.container {
    margin-left: 36%;
    margin-top: 30px;
    text-align: left;
    font-size:large;
    border: 7px palevioletred solid;
    border-radius: 10px;
    width: 500px;
    padding: 10px;
    position:relative;
}
/*form container*/

/*input box*/
.input {
    border: 2px palevioletred solid;
    border-radius: 5px;
}
/*end of input box*/

/*dropdown*/
#dropdown {
    border: 2px palevioletred solid;
    border-radius: 5px;
}
/*end of dropdown*/

/*comments*/
#comments {
    border: 2px palevioletred solid;
    border-radius: 15px;
    width: 50%;
}
/*end of comments*/

/*submit*/
#submit {
    color: aliceblue;
    background-color: palevioletred;
    width: 100px;
    border-radius: 10px;
}
/*end submit*/
