body 
    background: url('../img/mainbg.png')
    background-size: cover
    background-repeat: no-repeat
    background-attachment: fixed
    box-sizing: border-box
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif