@import url('http://fonts.cdnfonts.com/css/d-puntillas-a-lace');
body {
    background-image: url(/Users/maodayuja/Desktop/Form/img/image.png), url(/Users/maodayuja/Desktop/Form/img/black.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: pink;
    font-family:sans-serif;
    font-family: 'd puntillas A Lace', sans-serif;
}

.titlename {
    text-align: center;
    font-size: larger;
}

.container {
    margin-left: 40%;
    margin-top: 14px;
    text-align: left;
    font-size:large;
}

#comments {
    width: 50%;
}
