.resultbackground {
    background-image: url(../img/sqd.jpg);
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
    background-color: rgba(20, 2, 2, 0.493);
    height: 300px;
    color: palevioletred;
    text-shadow: 1px 1px whitesmoke;
}

body {
    font-family: 'Mandatory Plaything', sans-serif;
    @extend .resultbackground;
    
}

.result {
    letter-spacing: .3em;
    @extend .container;
}

