@import './variables';

/*body*/
body {
    @extend .background;
    color: $textColor;
    font-family: $mainFont;
}
/*end of body*/

/*title name*/
.titlename {
    text-align: center;
}

#title {
    text-shadow: $textShadow;
}
/*end of title name*/

/*form-container*/
.container {
    @extend .formcontainer;
}
/*end of form-container*/

/*name, email, age input bar*/
.input {
    @extend .inputBar;
}
/*end of name, email, age inout bar*/

/*color-dropdown*/
#dropdown {
    @extend .inputBar;
}
/*color-dropdown*/

/*comment bar*/
#comments {
    @extend .inputBar;
    @extend .commentBar;
}
/*end of comment bar*/

/*submit*/
.submit-button input {
    @extend .inputBar;
    @include submitBttn ($textColor,rgb(34, 31, 31));
} 
/*end submit*/





