body 
    margin: 0
    padding: 0
    width: 100vw
    height: 100vh
    background-color: black
    display: flex
    align-items: center
    box-sizing: border-box
   
#chess-board
    border: 1vmin brown solid
    margin: auto
    display: flex
    flex-wrap: wrap
    width: 88vmin
    height: 88vmin

.row
    display: flex
    flex-direction: row

.box  
    font-size: 10vmin
    text-align: center
    width: 11vmin
    height: 11vmin

.white-box
    background: url('../Chess_flex/img/white-block.png') 
    background-size: cover
    
.black-box
    background: url('../Chess_flex/img/black-block.png')
    background-size: cover

   
  






    


    
   
        

    
        



