
@import url('https://fonts.googleapis.com/css2?family=Besley:wght@500&family=Poppins:wght@500&family=Raleway:ital,wght@0,500;1,400&display=swap');
* {
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Besley', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  text-shadow: .1rem .1rem black;
}

/* clock */
.front-clock {
  font-size: 3.5rem;
}

.clock-title {
  color: aliceblue;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
/* clock */

/* what is your name? */
.question {
  margin-top: 50px;
  padding-bottom: 20px;
  color: aliceblue;
  font-size: 30px;
  font-weight: bold;
  margin: 0 10%;
  width: 80%;
  text-align: center;
  outline: none;
  border: none;
  animation: fadeIn 1s linear;
}

.user-form {
  display: flex;
  margin-top: 40px;
  margin-bottom: 100px;
  font-size: 30px;
  text-align: center;
}

.user-form input {
  color: aliceblue;
  font-size: 30px;
  margin: 0px 35%;
  margin-bottom: 100px;
  width: 30%;
  text-align: center;
  border: none;
  outline: none;
  border-bottom: 3px solid aliceblue;
  background-color: transparent;
}

.user-form ::placeholder {
  color: aliceblue;
  font-weight: bold;
}
/* what is your name? */

/* greetings */
.user-greetings {
  margin: 25px 0px;
  font-size: 35px;
  color: aliceblue;
  width: 100%;
  font-weight: bold;
  text-align: center;
  animation: fadeIn 1s linear;
}
/* greetings */

/* todo list */
.todolist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.todolist-container input {
  border: none;
  border-bottom: 0.1rem solid aliceblue;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 30%;
  padding: 0.5rem;
  text-align: center;
  color: aliceblue;
  font-size: 2rem;
}

.todolist-container ::placeholder {
  color: aliceblue;
  font-size: 25px;
}

.to-dos {
  display: flex;
  flex-direction: column;
}

#addToDo :hover {
  color: greenyellow;
}
/* todo list */

/* quotes */
.quotes-container {
  color: aliceblue;
  display: flex;
  
  flex-direction: column;
  align-items: center;
}

.quotes-container2 {
  justify-content: center;
  font-style: italic;
}

#quote-form {
  visibility: hidden;
}
#quote-form input[type="text"] {
  border: none;
  border-bottom: 0.1rem solid aliceblue;
  background-color: transparent;
  resize: none;
  outline: none;
  width: 30rem;
  padding: 0.5rem;
  text-align: center;
  color: aliceblue;
  font-size: 2rem;
  }

#quote-form input[type="submit"] {
  display: none;
}

.quotes-options {
  display: flex;
  width: 30rem;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-between;
  }

.new-quote, .add-quote {
  font-size: 0.7rem;
  border: 1px solid none;
  padding: 0.3rem;
  cursor: pointer;
  border-radius: 1rem 1rem;
}
      
.new-quote:hover, .add-quote:hover {
  border: 1px solid slategrey;
}
/* quotes */

/* reset */
.reset {
  color: white;
  cursor: pointer;
}

.reset :hover {
  color: red;
}
/* reset */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.form,
.greetings {
  display: none;
}

.displayed {
  display: block;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}
