*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/Users/maodayuja/batch14fe/batch14-fe-activities/img/minimalistbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;  
}

.project-container {
    padding: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 35rem);
    gap: 1rem;
    justify-content: center;
}

.projects {
    position: relative;
    width: 35rem;
}

.project-image {
    display: block;
    box-shadow:2vmin 1vmin black;
    width: 100%;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay-blur {
    backdrop-filter: blur(1px);
}

.image-overlay > * {
    transform: translateY(5px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 1rem;
    font-weight: bold;
}

 a {
    color:white;
}

.image-description {
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.25em;
}