#main {
  background-image: url(https://www.vippng.com/png/full/361-3612977_website-background-png-tech-background-image-for-website.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0%;
  padding: 0%;
}

.nav {
  overflow: hidden;
  position: fixed;
  top: 0%;
  width: 100%;
  background-color:black;
  text-decoration: none;
}

.nav a {
  color:aliceblue;
  padding: 14px 16px;
  font-size: 17px;
}
  
#navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
}

.nav a:hover {
  background-color:peru;
  color:sienna
}

#title {
  text-align: center;
}

#image-caption {
  font-size: large;
}

#image {
  margin-top: 5%;
    height: 500px;
    width: 100%;
    object-fit: contain;
    text-align: center;
}

#image-caption {
  text-align: center;
}

#firstflight {
  margin-top: 5%;
  height: 500px;
  width: 100%;
  object-fit: contain;
  text-align: center;
}

#siblings {
  text-indent: 50px;
}
.a {
  text-indent: 25px;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
